
.wrap {
    height: 100vh;
    width: 100%;
    @include transition;
    box-shadow: 0 -1em 4em -0.5em rgba(0,0,0,0.5);
    position: relative;
    z-index: 1;
}

.wrap.open {
    transform: translateY(50vh);
    overflow: hidden;
}

body.hidden {
    overflow: hidden;
}

//--- Main Header
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding-x-6;
    position: fixed;
    width: 100%;
    height: 128px;
    top: 0;
    left: 0;
    z-index: 90;
    transition: ease 0.3s all;

    &--scrolled {
        height: 70px;
        background-color: $color-dark;

        .nav-brand {
            max-width: 60%;

            @include breakpoint-65 {
                width: 17em;
            }
        }
    }
  
    .menu {
        display: none;
        transition: ease 0.3s all;

        @include breakpoint-65 {
            display: flex;
        }
    }

    .menu-mobile {
        @include breakpoint-65 {
            display: none;
        }
    }

    .menu a {
        color: lighten($color-medium, 20%);
        position: relative;
        padding: 0.8em 0;
        margin: 0 1em;
        transition: ease color 0.3s;
        text-transform: uppercase;
        letter-spacing: $letter-spacing;
        font-size: 0.9rem;

        &:hover {
            color: $color-light-20;

            &:after {
                width: 100%;
            }
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 3px;
            background-color: $color-accent-red;
            border-radius: 1.5px;
            transition: ease width 0.3s;
        }

    }

    .menu a.active {
        color: $color-light-20;

        &:after {
            width: 100%;
        }
    }

}

//--- Navigation
.nav-brand {
    max-width: 70%;
    transition: ease 0.5s all;
}

.nav-social {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width:30rem;
    transform:  rotate(90deg) translateY(-28.5rem);
    transform-origin: top left;
    mix-blend-mode: difference;
    z-index: 90;

    .nav-bar {
        flex: 0 0 8.5em;
        height: 1px;
        background-color: lighten($color-medium, 20%);
        border-radius: 0 0.5em 0.5em 0;
    }

    .nav-email {
        transform: rotate(180deg);
        padding: $padding-x-2;
        color: $color-light-20;
        display: block;
        line-height: 1.2;
        letter-spacing: $letter-spacing;
        font-size: 0.9rem;
        transition: ease color 0.3s;

        &:hover {
            color: $color-accent-red;
        }
    }

    .social-links {
        color: lighten($color-medium, 20%);
        display: flex;
        text-align: center;
        
        a {
            color: inherit;
            transform: rotate(-90deg);
            margin: $margin-x-1;
            transition: ease color 0.3s;

            &:hover {
                color: $color-light-20;
            }
        }
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: center top / cover no-repeat url('../img/bg-geo-shape.svg');
        opacity: 0.3;
    }
    
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $color-dark;
        z-index: -1;
    }

    .menu a {
        color: $color-light;
        border: 0.2em $color-light-20 solid;
        margin: 0.5em;
        padding: 0.8em 2em;
    }
}

//--- Main Section
.section {
    width: 100%;
    position: relative;
    padding-top: 5em;
    background-color: $color-light;
}

//--- Headline Styles
.headline-hero {
    font-size: $headline-size-1-mob;
    text-align: center;
    color: $color-light;
    line-height: 1;

    @include breakpoint-65 {
        font-size: 7.5em;
        text-align: left;
    }

    @include breakpoint-custom(76) {
        font-size: $headline-size-1;
    }

}

.byline-hero {
    color: darken($color-light-20, 40%);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: $letter-spacing;
    max-width: 65%;
    font-family: $font-primary-book;
    margin: 0 auto;
    font-size: 1.2rem;
    padding: $padding-y-2;
    margin-bottom: 1em;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 7.5em;
        height: 3px;
        border-radius: 1.5px;
        background-color: $color-accent-red;
    }

    @include breakpoint-65 {
        text-align: left;
        margin: 0;
        font-size: 1.5rem;

        &:after {
            left: 0;
            transform: translateX(0);
        }
    }
}

.headline {
    font-size: $headline-size-2-mob;
    border: 10px $color-light solid;
    display: inline-block;
    line-height: 1;
    padding: 1rem 2rem 0.5rem 1rem;
    margin-bottom: 0.4em;
    color: lighten($color-dark, 20%);

    @include breakpoint-65 {
        font-size: $headline-size-2; 
    }
}

.headline-dark {
    font-size: $headline-size-2-mob;
    border: 10px $color-light-20 solid;
    display: inline-block;
    line-height: 1;
    padding: 1rem 2rem 0.5rem 1rem;
    margin-bottom: 0.4em;
    color: lighten($color-dark, 20%);

    @include breakpoint-65 {
        font-size: $headline-size-2; 
    }
}

//--- Main Container
.grid-container {
    max-width: 90em;
}

