@import 'base',
        'layout',
        'modules/menu-btn',
        'modules/divider';


//--- Sections
.section-hero {
    background: center bottom / cover no-repeat url('../img/bg-geo-shape.svg') $color-dark;
    padding-top: 10em;
    
    .profile-img {
        max-width: 70%;
        margin: 0 auto;
        filter: drop-shadow(1em 0.5em 0.4em rgba(0,0,0,0.3));

        @include breakpoint-65 {
            max-width: 100%;
            margin: 0;
            filter: drop-shadow(2em 1em 0.5em rgba(0,0,0,0.3));
        }
    }

    .cell-content{

        @include breakpoint-65{
            margin-top: -10em; 
        }
    }

    .divider {
        svg path{
            fill: $color-light-20;
        }
    }

}

.section-about {
    background-color: $color-light-20;
    position: relative;

    @include breakpoint-65 {
        padding-bottom: 6em;
    }

    .cell-content {
        padding-right: 5em;
        padding-bottom: 2em;

        @include breakpoint-65 {
            padding-bottom: 5em;
        }
    }

    .cell-img {
        padding-left: 0;
        max-width: 80%;
        position: relative;

        @include breakpoint-custom(45){
            max-width: 60%;
        }

        @include breakpoint-custom(64) {
            padding-top: 5em;

            &::after {
                content: '';
                position: absolute;
                background-color: $color-light;
                left: 0;
                top: 50%;
                transform: translateY(-43%);
                width: 4px;
                height: 90%;
                border-radius: 2px;
                z-index: 1;
            }
        }
    }
}

.section-skills {
    background-color: $color-light-10;
    padding-bottom: 5em;

    @include breakpoint-65 {
        padding-bottom: 10em;
    }

    .skills-wrap {
        border: 10px $color-light solid;
        padding: $padding-4;

        .cell-upper {
            border-bottom: $border-thin-dark;
            padding-bottom: 1em;
        }

        .cell-lower {
            padding-top: 2em;

            .h2 {
                margin-top: 1rem;
                font-size: 1.3rem;
            }

            @include breakpoint-65 {
                .cell-container {
                    display: flex;
                    justify-content: center;
                }
            }

            .cell-container:not(:last-child) {
                border-bottom: $border-thin-dark;
                
                @include breakpoint-custom(64) {
                    border-right: $border-thin-dark;
                    border-bottom: none;
                }
            }
        }

        .h1 {
            line-height: 1;
            font-size: 2em;
            margin-bottom: 1em;

            @include breakpoint-65 {
                width: 90%;
            }
        }
    }
}

.section-projects {
    @include breakpoint-65 {
        .cell-content {
            text-align: center;

            p {
                text-align: left;
            }
        }
    }
}
