@font-face {
  font-family: 'gothambold';
  src: url(../fonts/gotham/gothambold-webfont.woff2) format("woff2"), url(../fonts/gotham/gothambold-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gothambook';
  src: url(../fonts/gotham/gotham-book-webfont.woff2) format("woff2"), url(../fonts/gotham/gotham-book-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avallon';
  src: url(../fonts/Avallon/font.woff2) format("woff2"), url(../fonts/Avallon/font.woff) format("woff");
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Avallon", "cursive";
  color: #0E0E0E;
}

p {
  font-size: 0.97rem;
  color: #0E0E0E;
}

a {
  color: #0E0E0E;
}

a:hover {
  color: #5b5b5b;
}

.h1 {
  font-family: "gothambook", sans-serif;
}

* {
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

body {
  font-family: "gothambook", sans-serif;
}

.font-bold {
  font-family: "gothambold", sans-serif;
}

.shadow-inset-top {
  -webkit-box-shadow: inset 0 0.5em 0.8em rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0.5em 0.8em rgba(0, 0, 0, 0.1);
}

.wrap {
  height: 100vh;
  width: 100%;
  -webkit-transition: ease 0.4s all;
  transition: ease 0.4s all;
  -webkit-box-shadow: 0 -1em 4em -0.5em rgba(0, 0, 0, 0.5);
          box-shadow: 0 -1em 4em -0.5em rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
}

.wrap.open {
  -webkit-transform: translateY(50vh);
          transform: translateY(50vh);
  overflow: hidden;
}

body.hidden {
  overflow: hidden;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3rem;
  position: fixed;
  width: 100%;
  height: 128px;
  top: 0;
  left: 0;
  z-index: 90;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
}

.main-header--scrolled {
  height: 70px;
  background-color: #0E0E0E;
}

.main-header--scrolled .nav-brand {
  max-width: 60%;
}

@media (min-width: 65em) {
  .main-header--scrolled .nav-brand {
    width: 17em;
  }
}

.main-header .menu {
  display: none;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
}

@media (min-width: 65em) {
  .main-header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 65em) {
  .main-header .menu-mobile {
    display: none;
  }
}

.main-header .menu a {
  color: #7d7d88;
  position: relative;
  padding: 0.8em 0;
  margin: 0 1em;
  -webkit-transition: ease color 0.3s;
  transition: ease color 0.3s;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 0.9rem;
}

.main-header .menu a:hover {
  color: #EEEEEE;
}

.main-header .menu a:hover:after {
  width: 100%;
}

.main-header .menu a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #FF0000;
  border-radius: 1.5px;
  -webkit-transition: ease width 0.3s;
  transition: ease width 0.3s;
}

.main-header .menu a.active {
  color: #EEEEEE;
}

.main-header .menu a.active:after {
  width: 100%;
}

.nav-brand {
  max-width: 70%;
  -webkit-transition: ease 0.5s all;
  transition: ease 0.5s all;
}

.nav-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 30rem;
  -webkit-transform: rotate(90deg) translateY(-28.5rem);
          transform: rotate(90deg) translateY(-28.5rem);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  mix-blend-mode: difference;
  z-index: 90;
}

.nav-social .nav-bar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.5em;
          flex: 0 0 8.5em;
  height: 1px;
  background-color: #7d7d88;
  border-radius: 0 0.5em 0.5em 0;
}

.nav-social .nav-email {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  padding: 0 1rem;
  color: #EEEEEE;
  display: block;
  line-height: 1.2;
  letter-spacing: 0.15em;
  font-size: 0.9rem;
  -webkit-transition: ease color 0.3s;
  transition: ease color 0.3s;
}

.nav-social .nav-email:hover {
  color: #FF0000;
}

.nav-social .social-links {
  color: #7d7d88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.nav-social .social-links a {
  color: inherit;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin: 0 0.5rem;
  -webkit-transition: ease color 0.3s;
  transition: ease color 0.3s;
}

.nav-social .social-links a:hover {
  color: #EEEEEE;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.mobile-menu:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: center top/cover no-repeat url("../img/bg-geo-shape.svg");
  opacity: 0.3;
}

.mobile-menu:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0E0E0E;
  z-index: -1;
}

.mobile-menu .menu a {
  color: #fff;
  border: 0.2em #EEEEEE solid;
  margin: 0.5em;
  padding: 0.8em 2em;
}

.section {
  width: 100%;
  position: relative;
  padding-top: 5em;
  background-color: #fff;
}

.headline-hero {
  font-size: 5.5rem;
  text-align: center;
  color: #fff;
  line-height: 1;
}

@media (min-width: 65em) {
  .headline-hero {
    font-size: 7.5em;
    text-align: left;
  }
}

@media (min-width: 76em) {
  .headline-hero {
    font-size: 8.8rem;
  }
}

.byline-hero {
  color: #888888;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.15em;
  max-width: 65%;
  font-family: "gothambook", sans-serif;
  margin: 0 auto;
  font-size: 1.2rem;
  padding: 1rem 0;
  margin-bottom: 1em;
  position: relative;
}

.byline-hero:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 7.5em;
  height: 3px;
  border-radius: 1.5px;
  background-color: #FF0000;
}

@media (min-width: 65em) {
  .byline-hero {
    text-align: left;
    margin: 0;
    font-size: 1.5rem;
  }
  .byline-hero:after {
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.headline {
  font-size: 5.5rem;
  border: 10px #fff solid;
  display: inline-block;
  line-height: 1;
  padding: 1rem 2rem 0.5rem 1rem;
  margin-bottom: 0.4em;
  color: #414141;
}

@media (min-width: 65em) {
  .headline {
    font-size: 7rem;
  }
}

.headline-dark {
  font-size: 5.5rem;
  border: 10px #EEEEEE solid;
  display: inline-block;
  line-height: 1;
  padding: 1rem 2rem 0.5rem 1rem;
  margin-bottom: 0.4em;
  color: #414141;
}

@media (min-width: 65em) {
  .headline-dark {
    font-size: 7rem;
  }
}

.grid-container {
  max-width: 90em;
}

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.6em;
  height: 1.6em;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  overflow: hidden;
  position: relative;
  z-index: 90;
  cursor: pointer;
}

.menu-btn:hover .menu-btn-burg {
  background-color: #fff;
}

.menu-btn:hover .menu-btn-burg:before, .menu-btn:hover .menu-btn-burg:after {
  background-color: #fff;
}

.menu-btn .menu-btn-burg {
  width: 1.5em;
  height: 3px;
  background-color: #7d7d88;
  border-radius: 3.5px;
  -webkit-transition: ease 0.5s all;
  transition: ease 0.5s all;
}

.menu-btn .menu-btn-burg:before, .menu-btn .menu-btn-burg:after {
  content: '';
  position: absolute;
  width: 1.5em;
  height: 3px;
  background-color: #7d7d88;
  border-radius: 3px;
  -webkit-transition: ease 0.5s all;
  transition: ease 0.5s all;
}

.menu-btn .menu-btn-burg:before {
  -webkit-transform: translateY(-0.5em);
          transform: translateY(-0.5em);
}

.menu-btn .menu-btn-burg:after {
  -webkit-transform: translateY(0.5em);
          transform: translateY(0.5em);
}

.menu-btn.open .menu-btn-burg {
  -webkit-transform: translateX(-4em);
          transform: translateX(-4em);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-btn.open .menu-btn-burg:before {
  -webkit-transform: rotate(45deg) translate(2.85em, -2.85em);
          transform: rotate(45deg) translate(2.85em, -2.85em);
}

.menu-btn.open .menu-btn-burg:after {
  -webkit-transform: rotate(-45deg) translate(2.85em, 2.85em);
          transform: rotate(-45deg) translate(2.85em, 2.85em);
}

.divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  margin-bottom: -1px;
  margin-left: -1px;
}

.divider svg {
  display: block;
  width: 105%;
}

.section-hero {
  background: center bottom/cover no-repeat url("../img/bg-geo-shape.svg") #0E0E0E;
  padding-top: 10em;
}

.section-hero .profile-img {
  max-width: 70%;
  margin: 0 auto;
  -webkit-filter: drop-shadow(1em 0.5em 0.4em rgba(0, 0, 0, 0.3));
          filter: drop-shadow(1em 0.5em 0.4em rgba(0, 0, 0, 0.3));
}

@media (min-width: 65em) {
  .section-hero .profile-img {
    max-width: 100%;
    margin: 0;
    -webkit-filter: drop-shadow(2em 1em 0.5em rgba(0, 0, 0, 0.3));
            filter: drop-shadow(2em 1em 0.5em rgba(0, 0, 0, 0.3));
  }
}

@media (min-width: 65em) {
  .section-hero .cell-content {
    margin-top: -10em;
  }
}

.section-hero .divider svg path {
  fill: #EEEEEE;
}

.section-about {
  background-color: #EEEEEE;
  position: relative;
}

@media (min-width: 65em) {
  .section-about {
    padding-bottom: 6em;
  }
}

.section-about .cell-content {
  padding-right: 5em;
  padding-bottom: 2em;
}

@media (min-width: 65em) {
  .section-about .cell-content {
    padding-bottom: 5em;
  }
}

.section-about .cell-img {
  padding-left: 0;
  max-width: 80%;
  position: relative;
}

@media (min-width: 45em) {
  .section-about .cell-img {
    max-width: 60%;
  }
}

@media (min-width: 64em) {
  .section-about .cell-img {
    padding-top: 5em;
  }
  .section-about .cell-img::after {
    content: '';
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-43%);
            transform: translateY(-43%);
    width: 4px;
    height: 90%;
    border-radius: 2px;
    z-index: 1;
  }
}

.section-skills {
  background-color: #FAFAFA;
  padding-bottom: 5em;
}

@media (min-width: 65em) {
  .section-skills {
    padding-bottom: 10em;
  }
}

.section-skills .skills-wrap {
  border: 10px #fff solid;
  padding: 2rem 2rem;
}

.section-skills .skills-wrap .cell-upper {
  border-bottom: thin rgba(0, 0, 0, 0.2) solid;
  padding-bottom: 1em;
}

.section-skills .skills-wrap .cell-lower {
  padding-top: 2em;
}

.section-skills .skills-wrap .cell-lower .h2 {
  margin-top: 1rem;
  font-size: 1.3rem;
}

@media (min-width: 65em) {
  .section-skills .skills-wrap .cell-lower .cell-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section-skills .skills-wrap .cell-lower .cell-container:not(:last-child) {
  border-bottom: thin rgba(0, 0, 0, 0.2) solid;
}

@media (min-width: 64em) {
  .section-skills .skills-wrap .cell-lower .cell-container:not(:last-child) {
    border-right: thin rgba(0, 0, 0, 0.2) solid;
    border-bottom: none;
  }
}

.section-skills .skills-wrap .h1 {
  line-height: 1;
  font-size: 2em;
  margin-bottom: 1em;
}

@media (min-width: 65em) {
  .section-skills .skills-wrap .h1 {
    width: 90%;
  }
}

@media (min-width: 65em) {
  .section-projects .cell-content {
    text-align: center;
  }
  .section-projects .cell-content p {
    text-align: left;
  }
}
/*# sourceMappingURL=main.css.map */